.contact{
    padding-top: 150px;

    &-modal{
        display: flex;
        padding-top: 50px;
    }
    &-header{
        text-align: center;
        font-size: 14px;
    }

    &-footer{
        font-size: 20px;
    }

    &-img{
        display: flex;
        width: 200px;
        height: 200px;
        
    }

    &-input{
        padding: 11px 190px;
        margin-top: 30px;
        display: flex;
        border-radius: 49px;
        }

    &-footer-btn{
        color: #fff;
        padding: 11px 200px;
        margin-top: 50px;
        background: #FF6600;
    }
}